@import "~antd/dist/antd.css";

html {
  /* background-color: black; */
  background-color: #f1f5f8;
  padding: 0;
  margin: 0;
}
body {
  background-color: #f1f5f8;
}

html > * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  padding: 0;
  margin: 0;
  color: #fff;
}

.header-block {
  padding-top: 5rem;
  margin-bottom: 5rem;
  padding-bottom: 5rem;
  color: #fff;
  padding-left: 0;
  background-image: url(https://images.unsplash.com/photo-1523240795612-9a054b0db644?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80);
  background-position-x: center;
  background-position-y: 594px;
  cursor: pointer;
}

.main-title {
  font-size: 4rem;
  text-align: center;
}
.main-subtitle {
  font-size: 2rem;
  text-align: center;
}

.menu-flex {
  display: flex;
  justify-content: space-around;
}

.menu-bloc {
  display: flex;
  align-items: center;
  background-color: #ce0033;
  color: #f1f5f8;
  font-size: 2.4rem;
  height: 200px;
  width: 500px;
  text-align: center;
  justify-content: center;
  border: 1px solid black;
  cursor: pointer;
}

main {
  /* border-top: 2px solid #ce0033; */
  height: 100%;
  width: 70%;
  margin: auto;
  /* background-color: #ce0033; */
  min-height: 50rem;
  margin-bottom: 5rem;
}

.contact-form {
  margin: auto;
  margin-top: 5rem;
  max-width: 70%;
}

input:focus,
textarea:focus {
  border: 1px solid #ce0033 !important;
}

input {
  max-width: 20% !important;
}

.input-bloc {
  text-align: left !important;
}

.markdown-bloc > * {
  list-style: none;
}

h4 {
  display: inline;
}

.anchor-bloc > * {
  background-color: #f1f5f8 !important;
}
.anchor-bloc {
  margin-bottom: 5rem;
  border: none !important;
}
.ant-image-img {
  width: 200px;
  height: 200px;
  object-fit: contain;
}
